/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2015, 12:23:55 AM
    Author     : Ganteng Imut
*/
body{
	background:url(images/swirl-tile.jpg);
    background-size: 300px 300px;
}

.animating{
    animation: animate 1s cubic-bezier(0,1,1,0);            
}

@keyframes animate{
    from {
       transform: scale(1);
    }
    to {
       transform: scale(1.7);
    }
}
.notif
		{
		  background: #e02424;  		
		  position: absolute;
		  right: 0px;
		  top: 0px;
		  padding: 2px 6px;
		  color: #fff;
		  font: bold .9em Tahoma, Arial, Helvetica;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.tabs-wrapper{
	border:solid 1px #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:0px;
}

.tab-content-chk{
	height:200px;
	padding:10px;
	overflow-Y:scroll;
}